<h1><i class="icon-signin"></i> Unit<em>Selector</em></h1>

<div id="tabs">
  <ul>
    <li><a href="#tabs-1">Self Storage</a></li>
    <li><a href="#tabs-2">Parking</a></li>
    <li><a href="#tabs-3">Wine</a></li>
  </ul>

  <div id="tabs-1">
    <div id="filters">
      <h3><i class="icon-check"></i> Filter by Attribute</h3>

      <ul class="filters attributes">
        <% @features.each do |feature| %>
          <li>
            <input type="checkbox" value="<%= feature %>" id="filter-<%= feature %>" />
            <label for="filter-<%= feature %>"><%= feature %></label>
          </li>
        <% end %>
      </ul>

      <h3><i class="icon-check"></i> Filter by Size</h3>

      <ul class="filters sqft">
        <% @sizes.sort_by { |k,v| v }.each do |k, v| %>
          <li>
            <input type="radio" value="<%= v %>" name="group1" id="filter-<%= k.to_s %>" <%= 'checked="checked"' if k.to_s == "small" %> />
            <label for="filter-<%= k.to_s %>"><%= k.to_s.capitalize %></label>
          </li>
        <% end %>
      </ul>

      <button id="clear_filters"><i class="icon-minus-sign"></i> Clear Filters</button>
    </div>

    <%= render :partial => "data_table", :locals => {:units => @storage_units, :classs => 'self_storage'} %>
  </div>

  <div id="tabs-2">
    <%= render :partial => "data_table", :locals => {:units => @parking_units, :classs => 'parking'} %>
  </div>

  <div id="tabs-3">
    <%= render :partial => "data_table", :locals => {:units => @wine_units, :classs => 'wine'} %>
  </div>
</div>

<br />

<a href="/units/new" class="new_unit"><i class="icon-plus"></i> New Unit</a>

<select onchange="window.location.href=this.value;">
  <option selected>Edit Unit</option>

  <%= @units.each do |u| %>
    <option value="/units/<%= u.id %>/edit"><%= u.size %> - <%= u.price %> - <%= u.description %></option>
  <% end %>
</select>

<p>&nbsp;</p>

<p style="text-align:center;">
  <img src="<%= Gchart.pie(:data => [@storage_size, @wine_size, @parking_size],
                           :background => "E6EBED",
                           :labels => ["Storage Units #{@storage_size.to_s.gsub(".0","")}%", "Parking Units #{@parking_size}%", "Wine Units #{@wine_size}%"],
                           :size => '500x200') %>">
</p>

<%#= high_chart("my_id4", @chart) do |c| %>
  <%#= raw "options.plotOptions.pie.dataLabels.formatter = function() { if (this.y > 5) return this.point.name; }"  %>
<%# end %>
