<h1>Unit<em>Selector</em></h1>

<div id="tabs">
  <ul>
    <li><a href="#tabs-1">Self Storage</a></li>
    <li><a href="#tabs-2">Parking</a></li>
    <li><a href="#tabs-3">Wine</a></li>
  </ul>

  <div id="tabs-1">
    <div id="filters">
      <h3>Filter by Attribute</h3>

      <ul class="filters attributes">
        <% @features.each do |feature| %>
          <li>
            <input type="checkbox" value="<%= feature %>" id="filter-<%= feature %>" />
            <label for="filter-<%= feature %>"><%= feature %></label>
          </li>
        <% end %>
      </ul>

      <h3>Filter by Size</h3>

      <ul class="filters sqft">
        <% @sizes.sort_by { |k,v| v }.each do |k, v| %>
          <li>
            <input type="radio" value="<%= v %>" name="group1" id="filter-<%= k.to_s %>" <%= 'checked="checked"' if k.to_s == "small" %> />
            <label for="filter-<%= k.to_s %>"><%= k.to_s.capitalize %></label>
          </li>
        <% end %>
      </ul>

      <button id="clear_filters">Clear Filters</button>
    </div>

    <%= render :partial => "data_table", :locals => {:units => @storage_units, :classs => 'self_storage'} %>
  </div>

  <div id="tabs-2">
    <%= render :partial => "data_table", :locals => {:units => @parking_units, :classs => 'parking'} %>
  </div>

  <div id="tabs-3">
    <%= render :partial => "data_table", :locals => {:units => @wine_units, :classs => 'wine'} %>
  </div>
</div>

<br />

<%= link_to 'New Unit', new_unit_path, :class => 'new_unit' %>

<select onchange="window.location.href=this.value;">
  <option selected>Edit Unit</option>

  <%= @units.each do |u| %>
    <option value="/units/<%= u.id %>/edit"><%= u.size %> - <%= u.price %> - <%= u.description %></option>
  <% end %>
</select>
