<h1>Unit<em>Selector</em></h1>

<div id="tabs">
  <ul>
    <li><a href="#tabs-1">Self Storage</a></li>
    <li><a href="#tabs-2">Parking</a></li>
    <li><a href="#tabs-3">Wine</a></li>
  </ul>

  <div id="tabs-1">
    <div id="filters">
      <h3>Filter by Attribute</h3>

      <ul class="filters attributes">
        <% @features.each do |feature| %>
          <li>
            <input type="checkbox" value="<%= feature %>" id="filter-<%= feature %>" />
            <label for="filter-<%= feature %>"><%= feature %></label>
          </li>
        <% end %>
      </ul>

      <h3>Filter by Size</h3>
      <ul class="filters sqft">
        <!--<li>
          <input type="checkbox" value="0-100" id="filter-small" />
          <label for="filter-small">Small</label>
        </li>
        <li>
          <input type="checkbox" value="100-300" id="filter-medium" />
          <label for="filter-medium">Medium</label>
        </li>
        <li>
          <input type="checkbox" value="300-500" id="filter-large" />
          <label for="filter-large">Large</label>
        </li>
        <li>
          <input type="checkbox" value="501+" id="filter-gigantic" />
          <label for="filter-gigantic">Warehouse</label>
        </li>
      </ul>-->

      <ul class="filters sqft">
        <li>
          <input type="radio" value="0-100" name="group1" id="filter-small" />
          <label for="filter-small">Small</label>
        </li>
        <li>
          <input type="radio" value="100-300" name="group1" id="filter-medium" />
          <label for="filter-medium">Medium</label>
        </li>
        <li>
          <input type="radio" value="300-500" name="group1" id="filter-large" />
          <label for="filter-large">Large</label>
        </li>
        <li>
          <input type="radio" value="501+" name="group1" id="filter-gigantic" />
          <label for="filter-gigantic">Warehouse</label>
        </li>
      </ul>

      <button id="clear_filters">Clear Filters</button>
    </div>

    <table class="units-table self_storage" cellspacing="0" cellpadding="0">
      <thead>
        <tr>
          <th>Size</th>
          <th>Description</th>
          <th>Price</th>
          <th>Sqft</th>
          <th>Promotion</th>
        </tr>
      </thead>

      <tbody>
        <% @storage_units.each do |unit| %>
          <tr class="unit" data-description="<%= unit.description %>" data-sqft="<%= unit.sqft %>" data-price="<%= unit.sqft %>">
            <td class="size"><%= unit.size %></td>
            <td class="description"><%= unit.description %></td>
            <td class="price">$<%= number_with_precision(unit.price.to_f, :precision => 2) %></td>
            <td class="sqft"><%= unit.sqft %></td>
            <td class="promotion"><%= unit.promotion %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div id="tabs-2">
    <table class="units-table parking" cellspacing="0" cellpadding="0">
      <thead>
        <tr>
          <th>Size</th>
          <th>Description</th>
          <th>Price</th>
          <th>Sqft</th>
          <th>Promotion</th>
        </tr>
      </thead>

      <tbody>
        <% @parking_units.each do |unit| %>
          <tr class="unit" data-description="<%= unit.description %>" data-sqft="<%= unit.sqft %>" data-price="<%= unit.sqft %>">
            <td class="size"><%= unit.size %></td>
            <td class="description"><%= unit.description %></td>
            <td class="price">$<%= number_with_precision(unit.price.to_f, :precision => 2) %></td>
            <td class="sqft"><%= unit.sqft %></td>
            <td class="promotion"><%= unit.promotion %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

   <div id="tabs-3">
    <table class="units-table wine" cellspacing="0" cellpadding="0">
      <thead>
        <tr>
          <th>Size</th>
          <th>Description</th>
          <th>Price</th>
          <th>Sqft</th>
          <th>Promotion</th>
        </tr>
      </thead>

      <tbody>
        <% @wine_units.each do |unit| %>
          <tr class="unit" data-description="<%= unit.description %>" data-sqft="<%= unit.sqft %>" data-price="<%= unit.sqft %>">
            <td class="size"><%= unit.size %></td>
            <td class="description"><%= unit.description %></td>
            <td class="price">$<%= number_with_precision(unit.price.to_f, :precision => 2) %></td>
            <td class="sqft"><%= unit.sqft %></td>
            <td class="promotion"><%= unit.promotion %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>


<br />

<%= link_to 'New Unit', new_unit_path, :class => 'new_unit' %>

<select onchange="window.location.href=this.value;">
  <option selected>Edit Unit</option>

  <%= @units.each do |u| %>
    <option value="/units/<%= u.id %>/edit"><%= u.size %> - <%= u.price %> - <%= u.description %></option>
  <% end %>
</select>
